* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e9d5ff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #000;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #d8b4fe;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 1rem;
}

input[type="text"]:focus {
  border-color: #6b21a8;
  box-shadow: 0 0 0 2px rgba(107, 33, 168, 0.4);
}

#addTodo {
  width: 100%;
  background-color: #a855f7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

#addTodo:hover {
  background-color: #6b21a8;
}

#todoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todoList li {
  background-color: #faf5ff;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #6b21a8;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-btn {
  color: #6b21a8;
}
.todo-actions {
  display: flex;
  gap: 10px;
}

.delete-btn {
  color: #9a3412;
}
